.contacts__title{
    padding-top: 7em;
}

.contacts__title_contact{
    text-align: center;
    color: #1bfca3;
}

.contacts__title_rsk{
    text-align: center;
    color: white;
}

.contacts__general{
    padding-bottom: 50px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__img{ 
    box-shadow: 0px 10px 15px 10px #000;
}

.contacts__text{
    font-size: 21px;
    color: white;
    line-height: 2em;
}

.contacts__link{
    text-decoration: none;
    color: white;
    transition: color 0.5s linear;
}

.contacts__link:hover{
    color: #1bfca3;
    text-decoration: underline;
}

@media screen and (max-width: 1400px){
    .contacts__img{
        display: none;
    }
}