.main__container{
    padding-top: 10em;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.general__picture{
    width: 80vw;
    margin-left: 5%;
    box-shadow: 0px 10px 15px 10px #000;
}

@media screen and (max-width: 1400px){
    .general__picture{
        display: none;
    }
}

.main__text_container{
    display: flex;
    margin:0 5%;
    align-items: center;
    flex-direction: column;
}

.main__title{
    color: #1bfca3;
    text-align: center;
}

.main__subtitle{
    color: white;
    text-align: center;
}

.main__text{
    color: white;
    text-align: justify;
    padding-left: 5%;
    line-height: 2em;
    font-size: 21px; 
}

.items__container{
    margin-top: 10em;
    background: #393e44;
    text-align: center;
}

.items__title{
    color: #1bfca3;
}

.items__subtitle{
    text-align: center;
    color: white;
    line-height: 2em;
    padding: 0 1%;
}

.items__subcontainer{
    margin-top: 100px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    background: #77fdc8;
    margin-bottom: 30px;
    height: 671px;
    box-shadow: 0px 10px 15px 10px #000;
}

.item__picture{
    box-shadow: 0px 10px 15px 10px #000;
    width: 100%;
}

.item__title{
    padding-top: 25px;
    text-align: center;
    color: black;
}

.item__text{
    padding-top: 50px;
    color: black;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}